form {
    margin-inline: auto;
    max-width: 350px;
    border-radius: 8px;
    border: 2px solid transparent;
    background-color: #7e84f8;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;

    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1em;
    width: 100%;

    button {
        margin-top: 1em;
        border-color: #646cff;
    }
    label {
        padding: 10px;
        display: flex;
    }
}
input {
    font-size: 1em;
    flex: 1;
    margin-left: 1em;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #0008ff1c;
    padding: 5px 10px;
}
input:focus,
textarea:focus {
    outline: 1px solid #b6b9ff17;
}
form:hover {
    border-color: #646cff;
}
form:focus,
form:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.btns {
    display: flex;
    gap: 15px;
    button:last-child {
        flex: 1;
    }
}
