.container {
    display: flex;
    align-items: center;
    padding: 1em;
    font-size: 3em;
    justify-content: center;
    margin-bottom: 1em;
    user-select: none;
}

.main-card {
    position: relative;
    width: 950px;
}

.dot {
    font-size: 3em;
    margin-inline: 10px;
}

.mini-card {
    display: flex;
    flex-direction: column;
    gap: 0;
    h1 {
        padding: 0;
        margin: 0;
    }
    p {
        margin-top: 0;
        font-size: 15px;
        font-weight: bold;
    }
}

.card-info {
    font-size: 0.75em;
    display: flex;
    gap: 20px;
    flex-direction: row;
    position: absolute;
    bottom: 30px;
    left: 125px;
    p {
        padding: 5px 10px;
        border: 1px solid rgba(255, 255, 255, 0.171);
        background-color: #a7abff56;

        margin: 0;
        border-radius: 5px;
        font-weight: bold;
    }
}
